<body>


    @if(isSignup){
    <div class="card">
        <h2>Login Form</h2>

        <div class="login_register">
            <a class="register">Login</a>
            <a class="login" (click)="onClickSignUp()">Signup</a>
        </div>
        
        <!-- FORMULAIRE -->
        <form #userLogIn="ngForm" (ngSubmit)="LogIn(userLogIn.value)" class="form">
            <!-- <input type="text" name="name" ngModel placeholder="Your Name" class="email"> -->
            <input type="email" name="email" #email="ngModel" ngModel placeholder="Email Adress" email class="pass" required>
            @if(email.invalid && email.touched){
                <p>Email is required.</p>
            }
            <input type="password" name="password" #password="ngModel" ngModel placeholder="Password" class="confirm_pass" minlength="8" maxlength="12" required>
            @if(password.invalid && password.touched){
                <p>Passwor is required.</p>
            }

            <button [disabled]="userLogIn.invalid" class="login_btn">Login</button>
        </form>


        <!-- MOT DE PASSE OUBLIE ? -->
        <!-- <a href="#" class="fp">Forgot password?</a> -->

        <!-- BOUTTON LOGIN -->
    </div>
}
@else{
    <div class="card">
        <h2>Signup Form</h2>

        <div class="login_register">
            <a class="login" (click)="onClickLogin()">Login</a>
            <a class="register">Signup</a>
        </div>


        <!-- FORMULAIRE -->
        <form #userSignUp="ngForm" (ngSubmit)="SignUp(userSignUp.value)" class="form">
            <input type="text" name="name" ngModel #name="ngModel" required placeholder="Your Name" minlength="4" class="email">
            @if(name.invalid && name.touched){
                <p>Name is required.</p>
            }
            <input type="email" name="email" ngModel #email="ngModel" email required placeholder="Email Adress" class="pass">
            @if(email.invalid && email.touched){
                <p>Email is required.</p>
            }
            <input type="password" name="password" #password="ngModel" required ngModel placeholder="Password" minlength="8" maxlength="12" class="confirm_pass">
            @if(password.invalid && password.touched){
                <p>Password is required.</p>
            }
            <button [disabled]="userSignUp.invalid" class="login_btn" type="submit">Sign Up</button>
        </form>

        <!-- MOT DE PASSE OUBLIE ? -->
        <!-- <a href="#" class="fp">Forgot password?</a> -->

        <!-- BOUTTON LOGIN -->
    </div>
}
</body>
<!-- <router-outlet></router-outlet> -->