<h1>Order History</h1>
@for (item of orderList; track $index) {
<div class="order-container">
    <img src="https://prod4-sprcdn-assets.sprinklr.com/200052/3bcfda65-e064-48d4-a97b-3a21096b51fd-230368015/svgviewer-png-output_(7).png"
        alt="">
    <div class="orders">
        <div class="order-header">
            <span>Order ID: #{{item.id}}</span>
            <span>Date: 2024-11-20</span>
        </div>
        <hr>
        <div class="order">
            <div class="order-details">
                <div class="order-detail">Total: {{item.totalPrice | currency:'INR'}}</div>
                <div class="order-detail">Status: In Progress</div>
            </div>
            <div class="oreder-details">
                <div class="order-detail">
                    @if(item.id){
                    <button class="cancel-button" (click)="cancelOrder(item.id)">Cancel</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}

@if (orederMsg) {
<div class="info">
    <h3>{{noOrderMsg}}</h3>
    <h4 routerLink="/">{{noOrderMsg2}}</h4>
</div>
}