.container {
    width: 80%;
    margin: 0 auto;
  }

  .container h2{
    color: blueviolet;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .step-container {
    min-width: 520px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 40px;
  }
  
  .step {
    text-align: center;
    width: 30%;
    border: 2px solid #969595;
    border-radius: 5px;
    padding: 10px;
  }
  
  .step.active {
    background-color: rgb(240, 233, 247);
    border: 2px solid blueviolet;
    min-width: 520px;
  }
  
  .step.completed {
    background-color: rgb(235, 249, 255);
    border-color: #99fffc;
  }
  
  .step-title {
    font-weight: bold;
  }
  
  .step-description {
    margin-top: 5px;
  }
  
  .checkout-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .addnew {
    color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
}

.addnew h6{
    color: #2ca11b;
    font-size: 14px;
    margin-top: -1rem;
    margin-bottom: -1rem;
}
form div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}



form input {
    min-width: 500px;
    padding: 10px;
    padding-left: 13px;
    padding-bottom: 11px;
    border-radius: 2px;
    border: 1px solid blueviolet;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: blueviolet;
    cursor: pointer;
    font-family: "Roboto Mono", sans-serif;
    box-shadow: 0px -5px 9px rgba(211, 211, 211, .7) inset;
    margin-bottom: 15px;
}
form label{
    text-align: right;
    margin-top: 5px;
    width: 240px;
    color: blueviolet;
}

form select{
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 3px;
}

form textarea{
    min-width: 1052px;
    padding: 10px;
    padding-left: 13px;
    padding-bottom: 11px;
    border-radius: 2px;
    border: 1px solid blueviolet;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: blueviolet;
    cursor: pointer;
    font-family: "Roboto Mono", sans-serif;
    box-shadow: 0px -5px 9px rgba(211, 211, 211, .7) inset;
    margin-bottom: 15px;
}

form input:focus, textarea:focus {
    outline: none;
    transform: scale(1.04);
}


.login_btn {
    min-width: 520px;
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: blueviolet;
    /* width: 100%; */
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    /* background: linear-gradient(-90deg, #003A74, #006AD5); */
    box-shadow: 1px 5px 9px rgba(211, 211, 211, .9);
    cursor: pointer;
}

.login_btn:hover {
    transform: scale(1.05);
}